<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Employee Page</title>
  </head>
  <body>
    <div class="container">
      <h1>Edit Employee:</h1>
      <form action="/people/edit" method="POST">
        First Name: <input type="text" name=" First Name"/><br>
        Last Name: <input type="text" name="Last Name"/><br>
        Phone #: <input type="text" name="Phone"/><br>
        Position: <input type="text" name="Job Title"/><br>
        <input type="submit" value="Edit Employee">
      </form>
    </div>
  </body>
</html>
