<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee Index Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <h1>CrudTechIndustries Employee Database:</h1>
    <h2>Welcome Boss,</h2>
    <h3>What would you like to do today?</h3>
    <div class="buttons">
    <a href="/people/new">
        <input type="submit" value="Add New Employee Info."></a>
    <a href="/people/index">
        <input type="submit" value="View Current Employee Info."></a>
  </div>
  </div>
  </body>
  <footer></footer>
</html>
