<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee Index Page</title>
  </head>
  <body>
    <div class="container">
    <h1>CrudTechIndustries Employee Database:</h1>
    <h2>Welcome Boss,</h2>
    <h3>What would you like to do today?</h3>
    <div class="buttons">
    <a href="/people/new">
        <input type="submit" value="Add New Employee Info."></a>
    <a href="/people/edit">
        <input type="submit" value="Edit/Delete Employee Info."></a>
    <a href="/people/view">
        <input type="submit" value="View Current Employees"></a>
  </div>
  </div>
  </body>
</html>
