<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee Index Page</title>
  </head>
  <body>
    <div class="container">
    <h1>CrudTechIndustries Employee Database:</h1>
    <% for (let i = 0; i < people.length; i++) {%>
    <%}%>
    </div>
  </body>
</html>
