<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add New Employee</title>
  </head>
  <body>
    <div class="container">
    <h1>Add New Hire's Info:</h1>
    <form action="/people" method="POST">
      First Name: <input type="text" name="firstName"/><br>
      Last Name: <input type="text" name="lastName"/><br>
      Phone #: <input type="text" name="phone"/><br>
      Position: <input type="text" name="jobTitle"/><br>
      <input type="submit" value="Add Employee">
    </form>
    </div>
  </body>
</html>
