<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add New Employee</title>
  </head>
  <body>
    <div class="container">
    <h1>Add New Hire's Info:</h1>
    <form action="/people/new" method="POST">
      First Name: <input type="text" name=" First Name"/><br>
      Last Name: <input type="text" name="Last Name"/><br>
      Phone #: <input type="text" name="Phone"/><br>
      Position: <input type="text" name="Job Title"/><br>
      <input type="submit" value="Add Employee">
    </form>
    </div>
  </body>
</html>
